*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}



body{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
   
    
}

h1{
    display: flex;
    align-items: flex-start;
}

h3{
    margin: 5px;
    position: relative;
    top: 150px;
}

.caixaPlacar{
    align-items: center;
   display: flex;
   flex-direction: column;
   position: relative;
    right: 250px;
   
}

.caixaPergunta{
    position: relative;
    bottom: 50px;
    top: 150px;
    
}

.inputResponder{
    position: relative;
    top:350px;
}


.tabuleiro{
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90vw;
  overflow-x: auto;
    top: 300px;
   
    
    
}


img{
    width: 60px;
    height: 60px;
    
}

.elemento{
    
    margin: 2px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction:row;
    
     
}

.elementoSelecionado{
   border: 3px solid blue;
   
}



.acertou{
    border:solid 3px rgb(0, 255, 81);
}

.errou{
    border:solid 3px red;
    
}